@import "nullstyle.scss";


.element1 {
    padding: 10px;
    background-color: red;

}

.element2 {
    padding: 10px;
    background-color: rgb(0, 255, 4);

}

.element3 {
    padding: 10px;
    background-color: rgb(38, 0, 255);

}




.menu__button span:first-child{
    display: block;
}

.menu__button span:last-child{
    display: none;
}

.menu._active .menu__button span:first-child{
    display: none;
}

.menu._active .menu__button span:last-child{
    display: block;
}

.menu__list{
    display: none;
}

.menu._active .menu__list{
    display: block;
}




.menu__button2 span:first-child{
    display: block;
}

.menu__button2 span:last-child{
    display: none;
}

.menu2._active .menu__button2 span:first-child{
    display: none;
}

.menu2._active .menu__button2 span:last-child{
    display: block;
}

.area2{
    display: none;
}

.menu2._active .area2{
    display: block;
}



.file::-webkit-file-upload-button{
    background-color: red;
}

.file{
    background-color: rgb(255, 0, 0);
}

user-card:host{
    background-color: aqua;
}